

$border-line-color: #ccc;
$border-line-focus-color: #4B93B1;

input[type="text"] {
    width: 95%; 
    box-sizing: 
    border-box; 
    letter-spacing: 1px;
    color: black;
}

:focus{outline: none;}

.poll-row {
    width: 95%;
    //float: left;
    position: relative;
    margin-top: 15px;
}


.entry {
    border: 0; 
    padding: 4px 0; 
    border-bottom: 1px solid $border-line-color;
    background-color: transparent;
}

.entry ~ .focus-border {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: $border-line-focus-color;
    transition: 0.4s;
}

.entry:focus ~ .focus-border {
    width: 95%; 
    transition: 0.4s;
}

.entry ~ label {
    position: absolute; 
    left: 10px; 
    width: 95%; 
    top: 9px; 
    color: #aaa; 
    transition: 0.3s; 
    z-index: -1; 
    letter-spacing: 0.5px;
}

.entry:focus ~ label {
    top: -16px; 
    font-size: 12px; 
    color: $border-line-focus-color;
    transition: 0.3s;
}

.minus-button {
    margin-left:10px;
}

.button-layout {
    overflow: auto;
    margin-bottom: 50px;
    
    .submit {
        float: left;
        &:disabled {
            background-color:#6dadf3;
            border-color:#6dadf3;
        }
    }

    .cancel {
        float: right;
        margin-left: 10px;
    }

    .add-choice {
        float: right;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

