<div>
    
    <h4>Create a New Poll</h4>
    <form [formGroup]="pollForm" novalidate (ngSubmit)="onSubmit(pollForm)" style="overflow:overlay;">

        <!-- question -->
        <div class="poll-row" style="">
            <input class="entry" type="text" formControlName="question" placeholder="Question:">
            <span class="focus-border"></span>
        </div>
        <div class="poll-row" style="">
            <small *ngIf="!pollForm.controls.question.valid" class="text-danger">
                Question is required.
            </small>
        </div>

        <!-- Arrays of choices -->
        <div formArrayName="choices" >
            <div *ngFor="let c of pollForm.controls.choices['controls']; let i = index">

                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                <div [formGroupName]="i">

                    <div class="poll-row" style="display:flex;">
                        <input class="entry" type="text" formControlName="choice" placeholder="Choice {{ i+1 }}">

                        <span class="focus-border"></span>
                        <button *ngIf="pollForm.controls.choices.controls.length > 1" 
                            (click)="removeChoice(i)" class="btn btn-danger minus-button"><span class="oi oi-minus"></span>
                        </button> 

                    </div>
                    <div class="poll-row" style="">
                        <small *ngIf="!c.valid" class="text-danger">
                            Choice {{ i + 1 }} is required.
                        </small>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="poll-row button-layout">
            <button type="button" class="btn btn-success add-choice" (click)="addChoice()"><span class="oi oi-plus"></span></button>
        </div>
        <div class="poll-row button-layout">
            <button type="submit" class="btn btn-primary submit" [disabled]="!pollForm.valid">Submit</button>
            <button type="button" class="btn btn-secondary cancel" (click)="cancelForm()">Cancel</button>
        </div>

        
    </form>
</div>
