<div class="login-form">
    <form [formGroup]="loginForm" *ngIf="!loadingIcon" (ngSubmit)="onSubmit()">
        <span class="form-title">
            Login
        </span>

        <div class="form-input-div">
            <input type="text" formControlName="username" class="form-input" placeholder="username" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }" />
            <div *ngIf="submitted && loginForm.controls.username.errors" class="alert alert-warning alert-warning-border">
                <div *ngIf="loginForm.controls.username.errors"><p>Username is required</p></div>
            </div>
        </div>

        <div class="form-input-div">
            <input type="password" formControlName="password" class="form-input" placeholder="password" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" />
            <div *ngIf="submitted && loginForm.controls.password.errors" class="alert alert-warning alert-warning-border">
                <div *ngIf="loginForm.controls.password.errors"><p>Password is required<p></div>
            </div>
        </div>

        <div *ngIf="error" class="alert alert-danger">
            <p>{{error}}</p>
        </div>
        <div class="padding"></div>


        <div>
            <button class="form-btn">
                Sign in
            </button>
        </div>

        <div class="footer-div">
            <span>
                Don’t have an account?
            </span>

            <a [routerLink]="['/register']">
                Sign up now
            </a>
        </div>

    </form>

    <div class="loading" *ngIf="loadingIcon"></div>
</div>