<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1>
    {{ title }}
  </h1>
</div>
<div id="app-router" class='container'>
    <router-outlet></router-outlet>
</div>
