
<div *ngIf="voted">
    <!--
    <div>
        <p *ngIf="acquire_poll" style="text-align:center;">Results<br>{{poll_question['text']}}</p>
        <canvas #canvas id="canvas-pie"></canvas>
    </div>
    -->

    <div>
        <p *ngIf="acquire_poll" style="text-align:center;">Results<br>{{poll_question['text']}}</p>
        <canvas #canvas id="canvas-bar"></canvas>
    </div>

</div>

<div class="form-container" *ngIf="!voted">
    <div class="form" *ngIf="pollForm">
        <form [formGroup]="pollForm" (ngSubmit)="submit(pollForm)">
            <p>{{pollForm.controls.question.value}}</p>

            <div *ngFor="let opt of poll_choices" class="form-check">
                <label>
                    <input type="radio" name="choice" [value]="opt['id']" formControlName="choice"><span class="label-text">{{opt['text']}}</span>
                </label>
            </div>

            <div class="buttons">
               <button class="btn btn-primary" type="submit">Submit</button> 
               <button class="btn btn-success" (click)="viewResults()" >View Result</button> 
            </div>

            
        </form>
        
    </div>
</div>