
$color-form-background: #F3E9D2;
$color-form-border: #000000;

.form-container {
    padding-top: 50px;

    .form {
        width: 100%;
        margin: 0 auto;
        padding: 20px 10px 20px 10px;
        background-color:$color-form-background;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 10px 10px 10px 10px ;
        -moz-box-shadow: 0 3px 20px 0px $color-form-border;
        -webkit-box-shadow: 0 3px 20px 0px $color-form-border;
        -o-box-shadow: 0 3px 20px 0px r$color-form-border;
        -ms-box-shadow: 0 3px 20px 0px $color-form-border;

        @media (min-width: 768px) {
            width: 70%;
            
        }

        @media (min-width: 1024px) {
            width: 50%;   
        }
    }
}

.buttons {
    text-align: center;
    button {
        display: inline-block;
        margin: 10px 10px 0 10px;

        @media (min-width: 375px) {
            margin: 20px 20px 0 20px;

        }
    }
    

}

p, label {
    font-size:12px;

    @media (min-width: 375px) {
        font-size:14px;

    }

    @media (min-width: 768px) {
        font-size:16px;
        
    }
    @media (min-width: 1024px) {
        font-size:20px;
        
    }

}

p {
    text-align: center;
}

label{
    position: relative;
    cursor: pointer;
    //color: #666;
    //font-size: 20px;
}

input[type="radio"]{
    position: absolute;
    right: 9000px;
}


/*Radio box*/

input[type="radio"] + .label-text:before{
    content: "\f10c";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
    content: "\f192";
    color: #F25F5C;
    animation: effect 250ms ease-in;
}