
<div class="home-page">
    <div class="inner-div">
        <form [formGroup]="searchPoll" (ngSubmit)="onSubmit()">
            <div class="poll" style="display:flex;">
                <input class="entry" type="text" formControlName="pollId" placeholder="Enter Poll ID">
                <span class="focus-border"></span>
            </div>
        </form>

        <p>or</p>
        <div class="account1">
            <a class="btn btn-primary" [routerLink]="['/profile']">{{ user }}</a>
        </div>
    </div>
    
</div>
