

$border-line-color: #ccc;
$border-line-focus-color: #4B93B1;


.home-page{
    padding: 30px;
    text-align: center;
}

.inner-div {
     display: inline-block;
}

input[type="text"] {
    box-sizing: 
    border-box; 
    letter-spacing: 1px;
    color: black;
    text-align: center;
}
:focus{outline: none;}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.poll {
    width: 100%;
    position: relative;
    margin-top: 15px;
}


.entry {
    border: 0; 
    padding: 4px 0; 
    border-bottom: 1px solid $border-line-color;
    background-color: transparent;
}

.entry ~ .focus-border {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: $border-line-focus-color;
    transition: 0.4s;
}

.entry:focus ~ .focus-border {
    width: 100%; 
    transition: 0.4s;
}

.entry ~ label {
    position: absolute; 
    left: 10px; 
    width: 100%; 
    top: 9px; 
    color: #aaa; 
    transition: 0.3s; 
    z-index: -1; 
    letter-spacing: 0.5px;
}

.entry:focus ~ label {
    top: -16px; 
    font-size: 12px; 
    color: $border-line-focus-color;
    transition: 0.3s;
}