
$table-header-color: #3A3C3F;
$table-header-text-color: #fff;
$table-data-text-color: #1B1B1E;
$table-data-odd-color: #D8DBE2;
$table-data-even-color: #B1B4B9;


.table-wrapper {
    margin: 0 auto;

    @media screen and (min-width: 768px ) {
        width:80%;
    }

    @media screen and (min-width: 1024px ) {
        width:100%;
    }

}


.table-div {
    display:table;
    width: 100%;
    padding-bottom: 25px;

    table {
        border-spacing: 1;
        border-collapse: collapse;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;

        thead {
            height:60px;
            background: $table-header-color;

            tr {
                height: 60px;
                background: $table-header-color;
                
                th {
                    font-size: 18px;
                    color: $table-header-text-color;
                    line-height: 1.2;
                    font-weight: unset;
                }
            }
        }

        tbody {
            height: 50px;
            tr {
                height: 50px;
                font-size: 15px;
                color: $table-data-text-color;
                line-height: 1.2;
                font-weight: unset;
                
                &:nth-child(odd) {
                    background-color: $table-data-odd-color;
                }
                &:nth-child(even) {
                  background-color: $table-data-even-color;
                }
                
                /*
                &:hover {
                  color: #555555;
                  background-color: $table-data-even-color;
                  cursor: pointer;
                }
                */
            }

        }

    }


  .poll_num_column {
    width: 10%;
    text-align: center;
  }

  .question_column {
    width: 50%;
    text-align: left;
  }

  .url_column {
    width: 20%;
    text-align: center;
  }

  .link_column {
    width: 20%;
    text-align: center;
  }

}

.button-layout {
    overflow:auto;
    padding-bottom: 25px;
    
    .create {
        float:left;
    }

    .logout {
        float:right;
    }
}

