<div class="table-wrapper">
    <div class="table-div">
        <table>
            <thead>
                <tr>
                    <th class="poll_num_column">Poll #</th>
                    <th class="question_column">Question</th>
                    <th class="url_column">Poll ID</th>
                    <th class="link_column">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let poll of polls; index as i">
                    <td class="poll_num_column">{{ i+1 }}</td>
                    <td class="question_column">{{ poll.question }}</td>
                    <td class="url_column">{{ poll.url }}</td>
                    <td class="link_column"><a [routerLink] = "['/poll', poll.url]">link</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="button-layout">
        <a class="btn btn-success create" [routerLink]="['/create_poll']" >Create new Poll</a>
        <button class="btn btn-danger logout" (click)="logout()">Logout</button>
    </div>

</div>
