/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900');
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";


$color-form-background: #fff3cd;
$color-form-border: #000000;
$color-form-background-primary: #247BA0;
$color-form-background-secondary: #1B1B1E;

$font: 'Merriweather', serif;;

body {
    background-color: #F8F8F8;
    font-family: $font;
}

p, h1, h2, h3 {
    font-weight:bold;
}

.login-form {

    @media screen and (min-width: 768px ) {
        width:70%;
    }

    @media screen and (min-width: 1024px ) {
        width:50%;
    }

    margin-left: auto;
    margin-right: auto;
    background: $color-form-background;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px ;
    -moz-box-shadow: 0 3px 20px 0px $color-form-border;
    -webkit-box-shadow: 0 3px 20px 0px $color-form-border;
    -o-box-shadow: 0 3px 20px 0px r$color-form-border;
    -ms-box-shadow: 0 3px 20px 0px $color-form-border;

    input {
        outline: none;
        border: none;
    }

    form {
        width: 100%;
        position: relative;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 178px;

        .form-title {
            font-family: JosefinSans-Bold;
            font-size: 30px;
            color: $color-form-background;
            line-height: 1.2;
            text-align: center;

            display: block;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            background-color: $color-form-background-primary;
            padding-top: 50px;
            padding-bottom: 39px;

        }

        .form-input-div {
            width: 100%;
            background-color: $color-form-background;
            border-radius: 27px;
            position: relative;
            z-index: 1;
            margin-bottom: 16px;

            .form-input {
                font-family: Ubuntu-Bold;
                font-size: 15px;
                line-height: 1.2;

                position: relative;
                display: block;
                width: 100%;
                height: 55px;
                background: #D3D3D3;
                border-radius: 27px;
                padding: 0 35px 0 35px;


            }

            input{
              color: black;
            }
        }   

        .padding {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        button {
            outline: none !important;
            border: none;
            background: transparent;
        }

        .form-btn {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            height: 50px;
            background-color: $color-form-background-primary;
            border-radius: 25px;

            font-family: Ubuntu-Bold;
            font-size: 15px;
            color: $color-form-background;
            line-height: 1.2;
            text-transform: uppercase;

            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;

            &:hover{
                background-color: $color-form-background-secondary;;
            }
        }

        .footer-div {
            padding-top: 150px;
            padding-bottom: 50px;
            text-align: center;

            span {
                font-family: Ubuntu-Regular;
                font-size: 15px;
                color: #999999;
                line-height: 1.4;
                padding-bottom: 10px;
            }

            a {
                font-family: Ubuntu-Bold;
                font-size: 15px;
                color: $color-form-background-primary;
                line-height: 1.4;
                text-transform: uppercase;

                &:focus{
                    outline: none !important;
                }

                &:hover {
                    text-decoration: none;
                    color: $color-form-background-secondary;
                }
            }

        }     

    }
}

.alert-warning-border {
    border-color: $color-form-background;

    p {
        text-align: center;
    }
}

.alert-danger {
    text-align: center;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}