<div class="login-form">
    <form [formGroup]="registerForm" *ngIf="!loadingIcon" (ngSubmit)="onSubmit()">
        <span class="form-title">
            Register
        </span>

        <div class="form-input-div">
            <input type="text" formControlName="email" class="form-input" placeholder="email" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.email.errors }" />
            <div *ngIf="submitted && registerForm.controls.email.errors" class="alert alert-danger">
                <div *ngIf="registerForm.controls.email.errors"><p>Email is required</p></div>
            </div>
        </div>

        <div class="form-input-div">
            <input type="text" formControlName="username" class="form-input" placeholder="username" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.username.errors }" />
            <div *ngIf="submitted && registerForm.controls.username.errors" class="alert alert-danger">
                <div *ngIf="registerForm.controls.username.errors"><p>Username is required</p></div>
            </div>
        </div>

        <div class="form-input-div">
            <input type="password" formControlName="password" class="form-input" placeholder="password" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }" />
            <div *ngIf="submitted && registerForm.controls.password.errors" class="alert alert-danger">
                <div *ngIf="registerForm.controls.password.errors"><p>Password is required</p></div>
            </div>
        </div>

        <div *ngIf="error" class="alert alert-danger">
            <p>{{error}}</p>
        </div>
        <div class="padding"></div>

        <div>
            <button class="form-btn">
                Register
            </button>
        </div>

        <div class="footer-div"></div>

    </form>

    <div class="loading" *ngIf="loadingIcon"></div>
</div>